h1 {
    text-align: center;
    color: black;
}

html{
	background-color: green;	
}

body{
	background-color: lightgreen;
	text-decoration-color: black;
	margin-left: 50px; 
	margin-right: 50px; 
	padding-bottom: 8px; 
	padding-left: 8px; 
	padding-right: 8px; 
	padding-top: 8px;

}

.submit{
	display: inline-block;
    font-size: 0.8em;
    background-color: #d9dfe1;
    color: #363639;
    padding: 3px 6px;
    border: 0;
    opacity: 0.4;
}
